.env
.venv
.envrc
packer/variables.auto.pkrvars.hcl
crash.log
*crash.log
.terraform/
*.tfstate
*.tfstate.*
terraform/errored.tfstate
terraform/.terraform/
terraform/.terraform.lock.hcl
tfplan.out
*tfplan.out
*.ansible.secret
*.keystores-passphrase
*.key
*.keystore
*.pub
*.pem
ansible/roles/*/files/wazuh_all_certs_files.tgz
ansible/roles/*/files/*.keystore
ansible/roles/*/files/*.crt
ansible/secrets/*
!ansible/secrets/.gitkeep
ephemeral-keys/*
!ephemeral-keys/.gitkeep
