[defaults]
host_key_checking=false
interpreter_python=/usr/bin/python3
strategy=linear
display_skipped_hosts=false
inventory=./inventory.ini
nocows=true

[privilege_escalation]
become_user=devops
become = True
