[defaults]
host_key_checking=false
interpreter_python=interpreter_python=/usr/bin/python3
strategy=linear
display_skipped_hosts=false
inventory=./inventory.ini
nocows=true
forks = 20

[privilege_escalation]
become=true
