DOCKERHUB_USERNAME: '{{ DOCKERHUB_USERNAME }}'
DOCKERHUB_REPO_NAMESPACE: '{{ DOCKERHUB_REPO_NAMESPACE }}'
ANSIBLE_AWS_SECRET_ID_NAME: '{{ ANSIBLE_AWS_SECRET_ID_NAME }}'
AWS_REGION: '{{ AWS_REGION }}'
